<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
        <webinfo>
            <title><{$info.title}> - <{$ii.web_name}> - <{$ii.web_title}> | <{$ii.web_title_desc}></title>
            <meta name="keywords" content="<{$ii.web_keywords}>"/>
            <meta name="description" content="<{$ii.web_desc}>"/>
        </webinfo>
        <link href="__PUBLIC__/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon"/>
        <link rel='stylesheet' id='jaguar-css'  href="__CSS__/app.css?ver=1.0.6" type='text/css' media='all' />
        <link  href="__VEN__/layui/css/layui.css"  media="all" rel="stylesheet">
        <script src="__VEN__/jquery-3.1.1.min.js"></script>
        <script src="__VEN__/layer/layer.js" type="text/javascript" ></script>
        <script src="__VEN__/layui/layui.js"></script>
    </head>
    <body class="single single-post postid-384 single-format-standard">
        <div id="page" class="hfeed site">
            
            <header id="header" class="home-header blog-background banner-mask">
                <div class="nav-header container">       
                    <div class="nav-header-container">
                        <nav  where="fid = 0" >
                            <if condition="$n.type eq 2"><a class="back-home" href="__URL__/<{$n.link}>.html"><{$n.name}></a>
                                <elseif condition="$n.type eq 0" /><a class="back-home <if condition="$info.mid eq $n.id " > hover</if>" href="__URL__/cate/id/<{$n.id}>.html"><{$n.name}></a>
                                <else /><a class="back-home" href="__URL__/page/id/<{$n.id}>.html"><{$n.name}></a>
                            </if>
                        </nav>    
                    </div>            
                </div>

                <div class="header-wrap">
                    <div class="container">
                        <div class="header-wrap">
                            <div class="post-info-container">
                                <n  where="fid = $info[mid]">
                                    <a class="back-home" href="__URL__"><{$nc.name}></a>
                                </n> 
                                <h2 class="post-page-title "><{$info.title}></h2>
                                <time class="post-page-time"><{$info.addtime|date="m月d ,Y",###}></time><span class="middotDivider"></span>
                                <span class="post-page-author"><{$info.author}></span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </header>
            <div id="main" class="content homepage">    
                <div class="content-area container">
                    <div class="site-content">
                        <section class="post-content">
                            <div class="single-post-inner grap">
                                <{$info.content}>
                            </div>
                        </section>

                        <div class="post-actions"></div>

                        <div class="author-field u-textAlignCenter">
                            <img src="__PUBLIC__/Upload/avatar/<{$info.avatar|default='none.jpg'}>" width="64" height="64" alt="<{$info.name}>" class="avatar avatar-64 wp-user-avatar wp-user-avatar-64 alignnone photo" />                    
                            <h3><{$info.author}></h3>
                            <p><{$info.sign}></p>
                        </div>


                        <div id="comments" class="comments-area">
                            <div id="respond" class="comment-respond" style="display:none">
                                <h3 id="reply-title" class="comment-reply-title">发表评论 </h3>				
                                <form action="__URL__/comment" method="post" id="commentform" class="comment-form">
                                    <p class="comment-form-author">
                                        <label for="author">姓名 <span class="required">*</span></label> 
                                        <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' />
                                    </p>
                                    
                                    <p class="comment-form-comment"><label for="comment">评论</label> 
                                        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea></p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="发表评论" /> 
                                        <input type='hidden' name='aid' value='<{$info.id}>' />
                                    </p>				
                                </form>
                            </div>
                            <div class="clear"></div>
                        </div>                    
                    </div>
                </div>
            </div>
            
            
            <footer>
                <div class="footavatar site-footer clearfix u-textAlignCenter">
                    <img src="__PUBLIC__/Upload/avatar/logo.jpg" class="footphoto">     
                    <ul class="footinfo">
                        <p class="fname"><a><{$ii.web_name}></a></p>
                        <p class="finfo"><{$ii.web_title_desc}></p>
                    <ul>
                </div>
                <div class="Copyright">
                  Powered by <a href="http://www.m-finder.com" target="_blank"><{$ii.web_name}></a>
                </div>
            </footer>
        
        </div>
        
        <div class="back2top">
            <svg class="icon" viewBox="0 0 1229 1024" xmlns:xlink="http://www.w3.org/1999/xlink" width="19.203125" height="16">
            <defs><style type="text/css"></style></defs>
            <path d="M955.765399 614.591058v408.726594h-682.348237V614.591058h-273.416939l614.591057-614.591058 614.591058 614.591058H955.765399z" fill="" ></path>
            </svg>
        </div>
        <script type='text/javascript' src='__JS__/application.js?ver=1.0.6'></script>
    </body>
</html>